* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #282c34;
}

.content-wrapper {
  max-width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

nav {
  display: flex;
  justify-content: space-around;
  min-width: 400px;
}

.navigation-element {
  color: white;
}

.brand {
  font-weight: bold;
  font-size: larger;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  width: 120px;
  height: 120px;
  background-color: skyblue;
  border: 2px solid black;
}
